*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 800px;
    margin-top: 40%;
    padding-right: 20%;
}

.instagram-continue {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;
    width: 50%;
    min-width: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem;
    border: 1px solid lightgray;
    margin: 10px;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    height: 5rem;
    margin: 1rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 1rem;
}

.profile-photo img {
    width: 35%;
    border-radius: 50%;
}

.instagram-login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('./img/appleStore.jpg');
    width: 150px;
    height: 80px;
    margin-top: 5%;
}

.app-download:nth-child(2) {
    background-image: url('./img/googlePlay.png');
    width: 200px;
    height: 80px;
}

/* media queries */

@media (max-width: 1024) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {

    body {
        background-color: #ffffff;
    }

    .group {
        border: 1px solid transparent;
    }

    .group:nth-child(1) {
        margin: 0;
        margin-top: 50%;
        width: 90%;
    }

    .group:nth-child(2) {
        width: 90%;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }

    .app-download:nth-child(1) {
        height: 60px;
    }

    .app-download:nth-child(2) {
        height: 80px;
    }
}